<h1>タスクの更新</h1>

<%= link_to 'タスク一覧表',tasks_path %><br>

<%= form_with(model: @task, local: true) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :content %>
  <%= form.text_field :content %>

  <%= form.label :deadline %>
  <%= form.date_field :deadline %>

  <%= form.label :status %>
  <%= form.select :status,[["完了","完了"],["着手中","着手中"],["未着手","未着手"]]%>

  <%= form.submit %>
<% end %>