<h1>タスクの更新</h1>

<%= link_to 'タスク一覧表',tasks_path %><br>

<%= form_with(model: @task, local: true) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :content %>
  <%= form.text_field :content %>

  <%= form.label :deadline %>
  <%= form.text_field :deadline %>

  <%= form.submit %>
<% end %>