<nav class="navbar　navbar-light bg-info text-right">
  <span class="navbar-text">
    <h1>タスク一覧表</h1>
    <a class="btn" type="button" href="tasks/new">タスクの新規登録</a>
  </span> 
  <%= link_to "新規ユーザー登録画面", new_user_path %>

  <% if current_user.admin? %>
    <%= link_to "管理者画面", admin_users_path %>
  <% end %>
</nav>

<div class="bg-light">

  <p><%= notice %></p>

  <br>

  <%= form_tag(tasks_path, method: "get") do %>
  <%= label_tag :name, "タスク名" %>
  <%= text_field_tag :name, params[:name] %>

  <%= label_tag :name, "状態" %>
  <%= text_field_tag :status, params[:status] %>

  <%= label_tag :name, "ラベル" %>
  <%= select_tag :label_id, params[:label_id] %>
  
  <%= submit_tag "検索" %>
  <% end %>

  <%= link_to "終了期限で並べ替えをする", tasks_path(sort_expired: "true") %>

  <br>

  <%= link_to "優先順位が高い順に並べ替えをする", tasks_path(sort_priority: "true") %>

  <%= paginate @tasks %>

  <table class="table text-center p-3 mb-2 bg-dark text-white">
    <tr>
      <th scope="row">タスク名</th>
      <th scope="row">詳細</th>
      <th scope="row">作成日時</th>
      <th scope="row">終了期限</th>
      <th scope="row">状態</th>
      <th scope="row">優先順位</th>
    </tr>

  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.name %></td>
      <td><%= task.content %></td>
      <td><%= task.created_at %></td>
      <td><%= task.deadline %></td>
      <td><%= task.status %></td>
      <td><%= task.priority %></td>

      <td><%= link_to '詳細画面',task_path(task.id) %></td>
      <td><%= link_to '編集画面',edit_task_path(task.id) %></td>
      <td><%= link_to '削除',task_path(task.id),method: :delete,data:{confirm: '削除してよろしいですか？？'} %></td>
    </tr>
  <% end %>
  </table>

</div>