<h1>タスクの新規登録</h1>

<%= link_to 'タスク一覧表',tasks_path %><br>

<%= form_with(model: @task, local: true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーです。</h2>
        <ul>
          <% @task.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>

  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :content %>
  <%= form.text_field :content %>

  <%= form.label :deadline %>
  <%= form.date_field :deadline %>

  <%= form.submit %>
<% end %>
  


