<h1>各タスク詳細画面</h1>

<%= link_to 'タスク一覧表',tasks_path %><br>

<p>タスク名：<%= @task.name %></p>
<p>詳細：<%= @task.content %></p>
<p>終了期限：<%= @task.deadline %></p>
<p>状態：<%= @task.status %></p>
<p>優先順位：<%= @task.priority %></p>

<% @task.labels.each do |label| %>
  <p>ラベル番号：<%= label.id %></p>
  <p>ラベル名：<%= label.name %></p>
<% end %>

