<h1>Userの新規登録</h1>

<%= form_with(model: @user, local: true) do |form| %>

  <%= form.label :name %>
  <%= form.text_field :name %><br>

  <%= form.label :email %>
  <%= form.email_field :email %><br>

  <%= form.label :admin %>
  <%= form.check_box :admin %><br>

  <%= form.label :password %>
  <%= form.password_field :password%><br>

  <%= form.label :password_cofirmation %>
  <%= form.password_field :password_cofirmation%><br>
  
  <%= form.submit %>
<% end %>

<%= link_to 'User一覧表',admin_users_path %><br>